**Ayşe Büşra Aktaş 2561017-
Beyza Karabulut 2561314-
Emre Arslanali 2501930-
Melisa Çepni 2288132-
Ömer Çubuk 2561165**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# All necessary pyhton packages for data cleaning are imported

In [ ]:
wine = pd.read_excel('wine_quality.xlsx')

# To read the excel type data set

In [ ]:
wine.describe().transpose()

# Describe function to see descriptive statistics of data, in order to see any irrelevant data values / to see our statistic table better, change the columns order, use transpose function.

,count,mean,std,min,25%,50%,75%,max
quality_score,93.0,8.396129,3.081894,6.98,7.3200,7.650,7.9500,20.00
sugar,90.0,1.651556,0.424693,0.73,1.4000,1.555,1.8875,2.94
total_sulfur_dioxide,87.0,86.051724,8.747769,66.50,80.1000,85.000,90.9500,112.20
density,94.0,0.833723,0.266849,0.27,0.6225,0.860,1.0450,1.32
ph,91.0,9.797363,23.837681,2.52,2.9950,3.510,4.1200,99.00
alcohol,92.0,5.057391,0.590782,4.03,4.5550,5.075,5.5750,5.99

In [ ]:
wine['ph'].loc[wine['ph']==99] = 0
wine['ph'].value_counts()

# To detect an irrelevant data value in pH bar, and change it to zero

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0.00    6
2.82    3
4.12    3
4.35    3
3.84    2
       ..
2.52    1
3.79    1
3.77    1
2.94    1
3.33    1
Name: ph, Length: 69, dtype: int64

In [ ]:
wine.describe().transpose()

# Describe the data again to check the process is correct or not

,count,mean,std,min,25%,50%,75%,max
quality_score,93.0,8.396129,3.081894,6.98,7.3200,7.650,7.9500,20.00
sugar,90.0,1.651556,0.424693,0.73,1.4000,1.555,1.8875,2.94
total_sulfur_dioxide,87.0,86.051724,8.747769,66.50,80.1000,85.000,90.9500,112.20
density,94.0,0.833723,0.266849,0.27,0.6225,0.860,1.0450,1.32
ph,91.0,3.269890,1.038702,0.00,2.9150,3.440,4.0050,4.48
alcohol,92.0,5.057391,0.590782,4.03,4.5550,5.075,5.5750,5.99

In [ ]:
wine.isnull().sum().sum()

# Total number of null values in data set are found

110

In [ ]:
wine1 = pd.DataFrame(wine.isnull().sum())
wine1.columns =["Missing Number"]
wine1["Missing Percentage"] = (wine1["Missing Number"]*100)/wine.shape[0]
wine1

# Create a table which contains how much null data values in all data set

                      Missing Number  Missing Percentage
quality_score                      7                 7.0
acidity                           10                10.0
sugar                             10                10.0
cholorides                        18                18.0
total_sulfur_dioxide              13                13.0
density                            6                 6.0
ph                                 9                 9.0
alcohol                            8                 8.0
wine_type                          7                 7.0
color                              7                 7.0
grape                             15                15.0

In [ ]:
meanq = wine['quality_score'].mean()
means = wine['sugar'].mean()
meansd = wine['total_sulfur_dioxide'].mean()
meand = wine['density'].mean()
meanp = wine['ph'].mean()
meana = wine['alcohol'].mean()

# Calculate all the numerical data's means, and assign a new variables for each of them, do this processes in order to change empty and meaningless values

In [ ]:
wine['ph'].loc[wine['ph']==0] = meanp
wine['ph'].value_counts()
# First, as we changed the irrevelant data value to zero, we changed this value to our mean value of pH.

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

3.26989    6
2.82000    3
4.12000    3
4.35000    3
3.84000    2
          ..
2.52000    1
3.79000    1
3.77000    1
2.94000    1
3.33000    1
Name: ph, Length: 69, dtype: int64

In [ ]:
wine['quality_score'].fillna(meanq, inplace=True)
wine['sugar'].fillna(means, inplace=True)
wine['total_sulfur_dioxide'].fillna(meansd, inplace=True)
wine['density'].fillna(meand, inplace=True)
wine['ph'].fillna(meanp, inplace=True)
wine['alcohol'].fillna(meana, inplace=True)

# All numerical null values are changed with their mean values

In [ ]:
wine.isnull().sum().sum()

# To check the data to learn the operations we did before were correct

57

In [ ]:
wine.duplicated().sum()

# Count all the duplicated data values

0

In [ ]:
for i in wine.select_dtypes(include='object').columns:
  print(wine[i].value_counts())

# We have identified the data for categorical variables that may cause misinterpretation, and data that actually means the same thing but written differently.

Not Acidic    46
Acidic        44
Name: acidity, dtype: int64
More Salty     36
Less Salty     21
More  SAlty    13
Less  SAlty    12
Name: cholorides, dtype: int64
Syrah        50
Öküzgözü     27
Karasakız    16
Name: wine_type, dtype: int64
red      56
white    28
rose      9
Name: color, dtype: int64
chardonnay    26
semillion     22
riesling      18
semilliON     11
chardONnay     8
Name: grape, dtype: int64

In [ ]:
wine['cholorides'].loc[wine['cholorides']=='More SAlty']= 'More Salty'
wine['cholorides'].loc[wine['cholorides']=='Less SAlty']= 'Less Salty'
wine['cholorides'].loc[wine['cholorides']=='More  SAlty']= 'More Salty'
wine['cholorides'].loc[wine['cholorides']=='Less  SAlty']= 'Less Salty'
wine['grape'].loc[wine['grape']=='semilliON']= 'semillion'
wine['grape'].loc[wine['grape']=='chardONnay']= 'chardonnay'

# As we already done before this step for identify, we adjusted the categorical data values correctly.

In [ ]:
mode_acidity = wine['acidity'].value_counts().idxmax()
wine['acidity'] = wine['acidity'].fillna(mode_acidity)
mode_cholorides = wine['cholorides'].value_counts().idxmax()
wine['cholorides'] = wine['cholorides'].fillna(mode_cholorides)
mode_wine_type = wine['wine_type'].value_counts().idxmax()
wine['wine_type'] = wine['wine_type'].fillna(mode_wine_type)
mode_color = wine['color'].value_counts().idxmax()
wine['color'] = wine['color'].fillna(mode_color)
mode_grape = wine['grape'].value_counts().idxmax()
wine['grape'] = wine['grape'].fillna(mode_grape)

# We found the mode of the categorical variables, and then we fill the null values with their modes.

In [ ]:
wine.isnull().sum().sum()

# We checked the null values.

0

In [ ]:
wine.columns = wine.columns.str.title()
wine.columns

# We fixed the capitilization problem for column names. We use title function to capitilaze first letter.

Index(['Quality_Score', 'Acidity', 'Sugar', 'Cholorides',
       'Total_Sulfur_Dioxide', 'Density', 'Ph', 'Alcohol', 'Wine_Type',
       'Color', 'Grape'],
      dtype='object')

In [ ]:
wine = wine.rename({'Ph':'pH'},axis='columns')
wine.columns

# We fixed the PH column name to pH.

Index(['Quality_Score', 'Acidity', 'Sugar', 'Cholorides',
       'Total_Sulfur_Dioxide', 'Density', 'pH', 'Alcohol', 'Wine_Type',
       'Color', 'Grape'],
      dtype='object')

In [ ]:
wine['Grape'] = wine['Grape'].str.title()
wine['Grape'].value_counts()

# Data values of the Grape column, we capitiliaze the first letters of the data values, and we count all types in the Grape column.

Chardonnay    49
Semillion     33
Riesling      18
Name: Grape, dtype: int64

In [ ]:
wine['Color'] = wine['Color'].str.title()
wine['Color'].value_counts()

# Data values of the Color column, we capitiliaze the first letters of the data values, and we count all types in the Color column.

Red      63
White    28
Rose      9
Name: Color, dtype: int64

In [ ]:
wine.to_excel('wine_datason.xlsx')

# We saved the fixed data set to excel file.